.custom-bullet{

    margin-right: 12pt;

}

.navbar-nav li {
    margin-top: auto!important;
    margin-bottom: auto!important;
}


#user-dropdown{

    padding-right:.9rem;

}

#user-dropdown::after{

    margin: 0 0 0 .4em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}